.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: grey;
}

.content img {
  width: 200px;
}

.content .img {
  width: 200px;
  height: 57px;
  background-image: url('../images/webpack.svg');
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 20px;
}